#### Big query models : testing the infrastructure
- Only testing the mechanics!!!!

## CREATE OR REPLACE MODEL

In [8]:
%%bigquery
CREATE OR REPLACE MODEL `french_claims.v1`
OPTIONS (
    model_type='linear_reg',
    ls_init_learn_rate=.15,
    l1_reg=1,
    input_label_cols=['ClaimNb']
)
AS 
SELECT 
   VehPower,
   VehAge,
   DrivAge,
   BonusMalus,
   ClaimNb
FROM 
  `axa-ch-machine-learning-dev.french_claims.freMTPL2freq`
#where mod( Idpol,2)=0 #todo other splitting strat
;

Empty DataFrame
Columns: []
Index: []

## Model Info

In [9]:
%%bigquery
SELECT
  *
FROM
  ML.TRAINING_INFO(MODEL `french_claims.v1`)

   training_run  iteration      loss  eval_loss  duration_ms  learning_rate
0             0          2  0.057422   0.055640        18211            1.2
1             0          1  0.057703   0.055888        15772            0.6
2             0          0  0.058974   0.057122        11149            0.3

## Eval

In [12]:
%%bigquery
WITH eval_table AS (
SELECT
  *,
  ClaimNb AS label
FROM
  `axa-ch-machine-learning-dev.french_claims.freMTPL2freq`
  )

SELECT
  *
FROM
  ML.EVALUATE(MODEL `french_claims.v1`,    TABLE eval_table)
;

,mean_absolute_error,mean_squared_error,mean_squared_log_error,median_absolute_error,r2_score,explained_variance
0,0.103422,0.057396,0.025242,0.054893,0.004486,0.004641

## Predict

In [15]:
%%bigquery
WITH to_predict AS (  SELECT    *   FROM      `axa-ch-machine-learning-dev.french_claims.freMTPL2freq` WHERE    DrivAge=20 )
SELECT
  truth.Idpol AS Idpol,
  predicted_ClaimNb
FROM 
  (SELECT    Idpol,predicted_ClaimNb FROM    ML.PREDICT(MODEL `french_claims.v1`,table to_predict) ) AS predict
  JOIN 
  (SELECT    Idpol  FROM    to_predict) AS truth
ON  predict.Idpol = truth.Idpol

          Idpol  predicted_ClaimNb
0     2147469.0           0.079633
1     4134782.0           0.067037
2      110410.0           0.083965
3     4150742.0           0.072735
4     4150743.0           0.072735
5      103299.0           0.081116
6       51027.0           0.101526
7       51028.0           0.101526
8     1114710.0           0.075701
9     1114711.0           0.073135
10    1114712.0           0.073135
11    2212554.0           0.111273
12    2212555.0           0.111273
13    6089663.0           0.087614
14    6089664.0           0.087614
15    6089666.0           0.082882
16     104698.0           0.077467
17     106586.0           0.100999
18    2209636.0           0.061505
19    1103078.0           0.066237
20    3143068.0           0.061905
21    3143069.0           0.057173
22    1177132.0           0.029465
23    1177133.0           0.062588
24       6679.0           0.088697
25       6680.0           0.083965
26      46743.0           0.060569
27      89509.0           0.059339
28     109592.0           0.028382
29    1015293.0           0.088697
...         ...                ...
3646  3142123.0           0.075248
3647  4186457.0           0.035510
3648  4141175.0           0.099990
3649  1096616.0           0.065101
3650  4144937.0           0.067267
3651  4157891.0           0.071599
3652  3213568.0           0.092839
3653  4167442.0           0.071599
3654  4158529.0           0.071199
3655  4158530.0           0.071199
3656  3129560.0           0.082829
3657  3165028.0           0.071599
3658  3165324.0           0.077414
3659  3165325.0           0.077414
3660  4170452.0           0.072282
3661  1122245.0           0.015797
3662  3165326.0           0.072862
3663  3165327.0           0.072862
3664  4167544.0           0.071160
3665  3122831.0           0.063579
3666  2155598.0           0.076755
3667  2131184.0           0.070941
3668  4159366.0           0.097166
3669  4184075.0           0.068775
3670  2154278.0           0.099332
3671  3174513.0           0.074589
3672  3143103.0           0.076536
3673  3155691.0           0.076536
3674  3155692.0           0.076536
3675  2139504.0           0.081551

[3676 rows x 2 columns]

## own metric: Posson deviance

In [18]:
%%bigquery
WITH to_predict AS (  SELECT    *   FROM     `axa-ch-machine-learning-dev.french_claims.freMTPL2freq` )
select 2*avg(pois_dev) as mean_pois_dev from(
SELECT
  truth.Idpol AS Idpol,
  truth.Exposure AS exposure,
  truth.ClaimNb AS ClaimNb,
  predicted_ClaimNb ,
  (log(abs(power(truth.ClaimNb /predicted_ClaimNb*truth.Exposure,truth.ClaimNb))) )-
  (truth.ClaimNb-(predicted_ClaimNb*truth.Exposure)) as pois_dev
FROM 
  (SELECT    Idpol,predicted_ClaimNb FROM    ML.PREDICT(MODEL `french_claims.v1`,table to_predict) ) AS predict
  JOIN 
  (SELECT    Exposure,Idpol,ClaimNb  FROM    to_predict) AS truth
ON  predict.Idpol = truth.Idpol
)

   mean_pois_dev
0       0.184204